In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df1= pd.read_csv('april_2024.csv')
df1['month']='april'

In [25]:
df1.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,18,2024-04-13 11:34:00,Regular,Noods,Mac and Cheese,13-18,april
1,18,2024-04-13 11:34:00,Cheddar,Choose Your Cheese,Mac and Cheese,13-18,april
2,18,2024-04-13 11:34:00,Pulled Pork,Choose Your Meats,Mac and Cheese,13-18,april
3,18,2024-04-13 11:34:00,Broccoli,Choose Your Toppings,Mac and Cheese,13-18,april
4,18,2024-04-13 11:34:00,Tomatoes,Choose Your Toppings,Mac and Cheese,13-18,april

In [26]:
df2= pd.read_csv('may_2024.csv', encoding='latin-1')
df2['month']='may'
df2.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,3,2024-05-01 11:04:00,Melted Cheddar,Choose Your Melted Cheese,Grilled Cheese Sandwich,1-3,may
1,3,2024-05-01 11:04:00,No Mac,Do you want Mac and Cheese added inside?,Grilled Cheese Sandwich,1-3,may
2,3,2024-05-01 11:04:00,Brisket,Choose Your Meats,Grilled Cheese Sandwich,1-3,may
3,3,2024-05-01 11:04:00,Brisket,Choose Your Meats,Grilled Cheese Sandwich,1-3,may
4,3,2024-05-01 11:04:00,Broccoli,Choose Your Toppings,Grilled Cheese Sandwich,1-3,may

In [27]:
df3= pd.read_csv('june_2024.csv', encoding='latin-1')
df3['month']='june'
df3.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,3,2024-06-01 11:05:00,Regular,Noods,Mac and Cheese,1-3,june
1,3,2024-06-01 11:05:00,Cheddar,Choose Your Cheese,Mac and Cheese,1-3,june
2,3,2024-06-01 11:05:00,No Meat,Choose Your Meats,Mac and Cheese,1-3,june
3,3,2024-06-01 11:05:00,Corn,Choose Your Toppings,Mac and Cheese,1-3,june
4,3,2024-06-01 11:05:00,Parmesan,Choose Your Toppings,Mac and Cheese,1-3,june

In [28]:
df4= pd.read_csv('july_2024.csv', encoding='latin-1')
df4['month']='july'
df4.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,3,2024-07-01 11:08:00,Regular,Noods,Mac and Cheese,1-3,july
1,3,2024-07-01 11:08:00,Alfredo,Choose Your Cheese,Mac and Cheese,1-3,july
2,3,2024-07-01 11:08:00,Grilled Chicken,Choose Your Meats,Mac and Cheese,1-3,july
3,3,2024-07-01 11:08:00,Broccoli,Choose Your Toppings,Mac and Cheese,1-3,july
4,3,2024-07-01 11:08:00,Onions,Choose Your Toppings,Mac and Cheese,1-3,july

In [29]:
df5= pd.read_csv('august_2024.csv', encoding='latin-1')
df5['month']='august'
df5.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,1,2024-08-01 10:41:00,Regular,Noods,Mac and Cheese,1-1,august
1,1,2024-08-01 10:41:00,Alfredo,Choose Your Cheese,Mac and Cheese,1-1,august
2,1,2024-08-01 10:41:00,Ham,Choose Your Meats,Mac and Cheese,1-1,august
3,1,2024-08-01 10:41:00,Parmesan,Choose Your Toppings,Mac and Cheese,1-1,august
4,1,2024-08-01 10:41:00,Ranch,Choose Your Drizzles,Mac and Cheese,1-1,august

In [30]:
df6= pd.read_csv('september_2024.csv', encoding='latin-1')
df6['month']='september'
df6.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,1,2024-09-01 11:08:00,Regular,Noods,Mac and Cheese,1-1,september
1,1,2024-09-01 11:08:00,Cheddar,Choose Your Cheese,Mac and Cheese,1-1,september
2,1,2024-09-01 11:08:00,Brisket,Choose Your Meats,Mac and Cheese,1-1,september
3,1,2024-09-01 11:08:00,Broccoli,Choose Your Toppings,Mac and Cheese,1-1,september
4,1,2024-09-01 11:08:00,Breadcrumbs,Choose Your Toppings,Mac and Cheese,1-1,september

In [31]:
df7= pd.read_csv('october_2024.csv', encoding='latin-1')
df7['month']='october'
df7.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,1,2024-10-01 10:42:00,"Garden Mac (Cheddar, Broccoli, Tomatos, Ranch)",Mac and Cheese Options,Mac and Cheese Party Tray (Plus FREE Garlic Br...,1-1,october
1,1,2024-10-01 10:42:00,"Chicken Alfredo (Alfredo, Chicken, Broccoli, P...",Mac and Cheese Options,Mac and Cheese Party Tray (Plus FREE Garlic Br...,1-1,october
2,1,2024-10-01 10:42:00,"Texas BBQ (Pepper Jack, Brisket, Jalapenos, BBQ)",Mac and Cheese Options,Mac and Cheese Party Tray (Plus FREE Garlic Br...,1-1,october
3,1,2024-10-01 10:42:00,"Chicken Bacon Ranch (Cheddar, Chicken, Bacon, ...",Mac and Cheese Options,Mac and Cheese Party Tray (Plus FREE Garlic Br...,1-1,october
4,1,2024-10-01 10:42:00,"Buffalo Chicken (Cheddar, Chicken, Onions, Buf...",Mac and Cheese Options,Mac and Cheese Party Tray (Plus FREE Garlic Br...,1-1,october

In [32]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7], ignore_index=True)

In [33]:
df.shape

(274010, 7)

In [34]:
df.head()

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
0,18,2024-04-13 11:34:00,Regular,Noods,Mac and Cheese,13-18,april
1,18,2024-04-13 11:34:00,Cheddar,Choose Your Cheese,Mac and Cheese,13-18,april
2,18,2024-04-13 11:34:00,Pulled Pork,Choose Your Meats,Mac and Cheese,13-18,april
3,18,2024-04-13 11:34:00,Broccoli,Choose Your Toppings,Mac and Cheese,13-18,april
4,18,2024-04-13 11:34:00,Tomatoes,Choose Your Toppings,Mac and Cheese,13-18,april

In [35]:
df.describe()

             Order #
count  274010.000000
mean      110.077245
std       182.011290
min         0.000000
25%        35.000000
50%        72.000000
75%       138.000000
max      7002.000000

In [36]:
df.describe(include=['object', 'category'])

,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID,month
count,274007,274006,273838,274007,274010,274010
unique,19050,237,14,7,9074,7
top,2024-10-14 17:50:00,Regular,Choose Your Toppings,Mac and Cheese,27-12,april
freq,87,25787,78431,245397,160,50000

In [37]:
unique_values = df['Parent Menu Selection'].unique()

In [38]:
unique_values

array(['Mac and Cheese', 'Grilled Cheese Sandwich', 'Sides/Desserts',
       'Drinks', 'MIX',
       'Mac and Cheese Party Tray (Plus FREE Garlic Bread)',
       'Garlic Bread (Party Size)', nan], dtype=object)

In [40]:
unique_values = df['Option Group Name'].unique()
unique_values

array(['Noods', 'Choose Your Cheese', 'Choose Your Meats',
       'Choose Your Toppings', 'Choose Your Drizzles', 'Choose Your Side',
       'Choose Your Drink', nan, 'Choose Your Melted Cheese',
       'Do you want Mac and Cheese added inside?', 'Utensils?',
       'Mix Bases', 'Choose Your Shirt', 'Mac and Cheese Options',
       'Sides'], dtype=object)

In [42]:
unique_values = df['Modifier'].unique()
unique_values

array(['Regular', 'Cheddar', 'Pulled Pork', 'Broccoli', 'Tomatoes',
       'Breadcrumbs', 'BBQ', 'No Side', 'Water', 'Pepper Jack', 'Brisket',
       'Corn', 'Mushrooms', 'Parmesan', 'No Drink', 'Alfredo',
       'Jalapenos', 'Unlimited Fountain Drinks', 'No Toppings',
       'Cheesy Broccoli', 'Cheesy Garlic Bread', 'No Meat', 'No Drizzle',
       'Pepperjack', 'Bacon', 'Garlic Parmesan', 'Grilled Chicken',
       'Bell Peppers', 'Hot Honey', 'Garlic Bread', 'Ranch', 'Cheesecake',
       'Buffalo', 'Ham', 'Melted Cheddar', 'No Mac', 'Pesto', 'Sprite',
       'Coke', 'Pepper Jack Mac', 'Pineapple', 'Melted Pepper Jack',
       'MIX', 'Mix PJ And Cheddar', 'GLUTEN FREE', 'Melted Parmesan',
       'Cheddar Mac', 'Alfredo Mac', 'Side Mac', 'Diet Coke', 'Onions',
       'Onion', 'All Cheese!!!', 'I DO NOT NEED UTENSILS (Save waste!)',
       'O J And BP On Side', 'Bacon On Side', 'Hot Honey On Half',
       'MIXED Melted Cheese', 'Bbq On Side',
       'Gluten-Free (ask store for safe toppings)', 'Hot Honey On Side',
       'Bowl Alredo Bacon Breadcrumbs Bricholi Jalepnos Galic Parm',
       'Bowl Chedder Chicken Jalepenos Bread Crumbs Buffalo Cheescake',
       'Mac Alfredo Chick Every Addition But Brocli And Pinapple Gar Parm Ches Gar Bread Dr Pep',
       'Apple Juice', 'Dr. Pepper', 'XL Shirt', 'Chips',
       'Any Bag Of Chips', 'Shirt', 'Medium Shirt', 'Doritos',
       'No Cheese On Top And No Oven', 'No Butter',
       'Texas BBQ (Pepper Jack, Brisket, Jalapenos, BBQ)',
       'TEST ORDER DO NOT MAKE!!!!!!!!', 'Lays Classic', 'Brystol',
       'Piper', 'James', 'Powerade - Blue Mountain Berry Blast',
       'NO CHEESE', 'No Noodles',
       'Chicken Bacon Ranch (Cheddar, Chicken, Bacon, Ranch)',
       'Fanta Orange', 'Minute Maid Lemonade', 'Mixed Cheese Side Mac',
       'No Shred No Oven', 'Cheetos', "Barq's Root Beer",
       'Classic Mac (Cheddar, Breadcrumbs, Garlic Parmesan)',
       'This is a test order. Do not prepare the food.', nan,
       'No ice with drink', 'no ice',
       'Can I get the hot honey on the side separate pleas',
       'Large Shirt', 'Small Shirt', 'Lays Barbecue',
       'plz hella broccoli ', 'Garlic Bread (Feeds 10)',
       'would it be possible to get extra cheese and sauce',
       'if available add tomato and jalapeño, ', 'Need utensils',
       'Extra broccoli and mushrooms please',
       'Please put the barbecue sauce on the side if possible',
       'bbq sauce and hot honey on the side please',
       'May I get extra BBQ sauce?', 'Extra mushrooms',
       'Ectra buffalo if you can', 'Extra buffalo',
       "I want Alfredo cheese TOO if that's possible", 'All Vegetarian',
       'Buffalo Chicken (Cheddar, Chicken, Onions, Buffalo)',
       'Ranch and buffalo on the side, please!',
       'Extra BBQ Sauce on the side please',
       'cheddar AND alfredo if possible :)', 'extra BBQ sauce please',
       'Extra cheese sauce, please! <3', 'Avery', 'Sarah',
       'Chicken Alfredo (Alfredo, Chicken, Broccoli, Pesto)',
       'Have a great day!', 'extra bell pepper and pesto please ',
       'Garden Mac (Cheddar, Broccoli, Tomatos, Ranch)',
       'bacon on the side, please', 'fuck me up bowl please ??',
       'barbecue sauce on the side please ', 'pesto on the side please ',
       'could I please do cheddar and pepper jack ',
       'If possible, could you add a lot of sauce? Thanks',
       'all three cheese please', 'all three cheeses please ',
       'extra cheese please!', 'Can I have all of the cheeses please',
       'If possible, pesto on the side.',
       'can I have pepper jack if available? if no cheddar',
       'if possible, pesto on side please. ',
       'I want cheddar Mac over Alfredo if available.',
       "I want f me up bowl. Couldn't choose all cheeses.",
       'Extra extra BBQ sauce please.',
       "can y'all do extra cheese/sauce please? Thank you!",
       'extra cheese and sauce please! Thank you!',
       'Please also add pepper jack cheese if possible! Thank you :) ',
       '2X Shirt', 'can I get all 3 cheeses (f me up)',
       'Please put BBQ on side and not in bowl',
       'Please put Buffalo sauce on side and not in bowl',
       'buffalo sauce on the side', 'Include utensils',
       'Add alfredo and pepper jack cheese as well!',
       'half cheddar and half alfredo please',
       'can I get all 3 sauces (f me up :)',
       'can you make it a fuck me up please',
       'Please do not bake this one. Ranch on the side.',
       'Extra cheese and sauce please! Thank you!! :D',
       'all sauces on side except garlic Parm on Mac',
       'no shredded cheese, just parm and breadcrumbs pls!',
       'Cheddar cheese- not Alfredo. There was not an option to select cheddar listed. Please put drizzles in cup on the side',
       'sauce on side', 'Broccoli on the side please. NOT on on Mac',
       'i need utensils', 'can I have double bbq sauce please',
       'Large Chocolate Chunk Cookie',
       '    can I get extra corn bell pepper and bread cr ',
       'Please add utensils',
       'Can you mix alfredo and pepper jack please?',
       'Very light drizzle please', 'extra hit hot honey please!',
       'extra broccoli please', 'extra bbq sauce please ',
       'extra garlic parm sauce ', 'Please but the sauce on the side',
       'Please put the sauce on the side',
       'Could i get a blend of cheddar and afredo',
       'extra corn bell pepper ',
       'can you mix Alfredo and pepper jack together?',
       'Can you mix pepper jack and cheddar?',
       'extra extra corn bell peppers extra broccoli     ',
       'Extra hot honey please!',
       'Can I get cheddar as well in the cheese option ',
       'Double baked pls ?', 'Double baked again pls ?',
       'can you mixed the cheddar with Alfredo sauce ',
       'Please give utensils.', 'Can you add alfredo as well please?',
       'could you guys add more cheese plz and thank you',
       'Call me when you get here. (303)829-0937', 'Extra sauce please!',
       'add cheddar cheese with pepper Jack',
       'extra extra corn and bell peppers extra.  ',
       'please add all the cheeses',
       'No drizzle please, I just want it in the side',
       'mix cheddar and Alfredo, and extra cheese plz',
       'can i have a mix of pepper jack and cheddar please',
       '  extra extra bell peppers extra extra corn extra ',
       'can i please get buffalo on the side , thank youuu',
       '(Please label for Aidan)',
       'a little extra breadcrumbs for the crust please',
       'PLEASE No ice in Powerade and side of basil ',
       'please mark each meal so we can tell whose it is',
       'xtra sauce/cheese please! thanks!', 'hot honey on side',
       'Dine In. Fountain drink. ', 'can i get extra pesto',
       'extra extra extra viggie ',
       'please add extra pineapples (for dine in)',
       'Extra drizzle of hot honey please!',
       'Extra onions, parmesan, and breadcrumbs.',
       'I want that cheese pull :)', 'drizzles on the side please can',
       'can you add extra cheese and cup of melted cheddar',
       'if possible, half cheddar half pepperjack cheese ',
       'only a light drizzle of garlic Parmesan ',
       'extra hot honey drizzle plz', 'Water Bottle',
       'Extra pesto please!', 'not to toasted please :)',
       'Double bake please!',
       "Double bake please if you feel like there's enough ingredients that it could be cold inside. I saw something about it on Google reviews and it's my first time as a customer with you guys. I don't want it overcooked but I also don't want it cold in the middle. Thanks!",
       'extra garlic drizzle', 'alfredo and pepper jack please',
       'BBQ drizzle on only half would be great ',
       'extra extra extra viggie. ', 'Light on the jalapeÃ±os please!',
       'Garlic Parmesan on side', 'light on the pesto drizzle please ! ',
       'Gouda', 'Melted Parm', 'extra extra hot honey please',
       'Allergic to all citrus and vegetarian ',
       'not too heavy on the sauces', 'Light PJ',
       'Drizzles on the SIDE please!! Ranch & Buffalo!!!!',
       'can you put every cheese on', 'all 3 cheese',
       'Light JalapeÃ±os, please', 'Light JalapeÃ±os please'],
      dtype=object)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274010 entries, 0 to 274009
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Order #                274010 non-null  int64
 1   Sent Date              274007 non-null  object
 2   Modifier               274006 non-null  object
 3   Option Group Name      273838 non-null  object
 4   Parent Menu Selection  274007 non-null  object
 5   Order ID               274010 non-null  object
 6   month                  274010 non-null  object
dtypes: int64(1), object(6)
memory usage: 14.6+ MB

In [45]:
df.to_csv('Ronis_Combined.csv')